button {
  border: none;
  color: white;
  width: 100%;
  cursor: pointer;
}

.smSize {
  height: 49px;
}

.mdSize {
  height: 42px;
}

.lgSize {
  height: 31px;
  font-size: 12px;
  padding: 10px;
}

.smRounded {
  border-radius: 9px;
}

.mdRounded {
  border-radius: 12px;
}

.lgRounded {
  border-radius: 15px;
}

.secondary {
  background-color: lightgrey;
}

.default {
  background-color: #4763e4;
}

.none {
  background-color: transparent;
}

.outlined {
  border: 1px solid #5c73db;
  background-color: white;
  color: #5c73db;
}

.error {
  background-color: red;
}

.textCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.textEnd {
  display: flex;
  align-items: center;
  justify-content: end;
}

.textStart {
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 30px;
}
