.itemContainer {
  display: flex;
  flex-direction: column;
}

.formContainer {
  display: flex;
  width: 520px;
  flex-direction: column;
  gap: 10px;
  label {
    margin-bottom: 2px;
  }

  p {
    text-align: center;
    cursor: pointer;
  }
  span {
    color: blue;
  }
}

.footerForm {
  width: 100%;
}

.error {
  color: red;
}

.default {
  color: black;
}

.errorText {
  color: red;
  font-size: 12px;
}
