.modalMain {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}
.modalContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  width: 1110px;
  h3 {
    font-weight: 500;
  }
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.modalMainContainer {
  display: flex;
  width: 100%;
  gap: 10px;
  margin-top: 30px;
  h3 {
    font-weight: 400;
  }
}

.buttonSection {
  display: flex;
  margin-top: 40px;
  width: 350px;
  gap: 10px;
}
