input {
  padding: 5px;
  outline: none;
}

.default {
  border: 1px solid #e4e4e7;
}

.none {
  border: none;
}

.error {
  border: 1px solid red;
  color: red;
}

.smSize {
  height: 49px;
}

.mdSize {
  height: 42px;
}

.lgSize {
  height: 35px;
}

.maxSize {
  width: 100%;
  height: 49px;
}

.smRounded {
  border-radius: 10px;
}

.mdRounded {
  border-radius: 12px;
}

.lgRounded {
  border-radius: 15px;
}
