.section {
  display: flex;
  flex-direction: column;
  background: #fff;
  width: 1615px;
  height: 74%;
  border-radius: 20px;

  .containerHeader {
    padding-left: 25px;
    padding-top: 25px;
    padding-right: 25px;
    display: flex;
    justify-content: space-between;

    h3 {
      color: black;
      font-weight: normal;
    }
  }

  .sectionSearch {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
  }

  .tableContainer {
    background-color: #fff;
    height: 100%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.footerContainer {
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #f4f4f5;
  span {
    color: #a1a1aa;
  }
}

.buttonIcon {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
