.itemContainer {
  display: flex;
  flex-direction: column;
}

.formContainer {
  display: flex;
  width: 520px;
  flex-direction: column;
  gap: 10px;
  label {
    margin-bottom: 2px;
  }

  p {
    text-align: center;
  }
  span {
    color: blue;
  }
}

.footerForm {
  width: 100%;
  margin-top: 10px;
}

span {
  color: blue;
  cursor: pointer;
}

.errorText {
  color: red;
  font-size: 12px;
}
