.smSize {
  min-width: 256px;
}

.mdSize {
  width: 296px;
}

.lgSize {
  width: 326px;
}

.secondary {
  background-color: lightgrey;
}

.default {
  background: #131c55;
}

.outlined {
  background-color: white;
}
