.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 100%;
}

.containerWrapper {
  display: flex;
  gap: 10px;
}

.buttonWrapper {
  width: 226px;
}

.tableContainer {
  background-color: #fff;
  height: 100%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin-bottom: -20px;
  justify-content: space-between;
}

.iconContainer {
  padding-left: 10px;
  padding-top: 2px;
  span {
    color: blue;
  }
}

.footerContainer {
  padding: 25px;
  border-top: 1px solid #f4f4f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  span {
    color: #a1a1aa;
  }
}

.switchTypeContainer {
  display: flex;
  gap: 10px;
  width: 460px;
}
